## Pyspark Handling Missing Values
#### Dropping Columns 
#### Dropping Rows
#### Various Parameter In Dropping functionalities
#### Handling Missing values by Mean, median and Mode

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practice').getOrCreate()

In [8]:
df_pyspark =spark.read.csv('Data2.csv', header=True, inferSchema=True)

In [9]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   Temi|  21|        10| 30000|
|   Jeff|  45|         3| 25000|
|  Steve|  23|         4| 20000|
|Cameron|  32|        12| 20000|
| Sunny |  39|         2|150000|
|  Mary |  25|         6|180000|
| Mahesh|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [10]:
## How to drop Columns 
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  21|        10| 30000|
|  45|         3| 25000|
|  23|         4| 20000|
|  32|        12| 20000|
|  39|         2|150000|
|  25|         6|180000|
|null|      null| 40000|
|  34|        10| 38000|
|  36|      null|  null|
+----+----------+------+

In [11]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   Temi|  21|        10| 30000|
|   Jeff|  45|         3| 25000|
|  Steve|  23|         4| 20000|
|Cameron|  32|        12| 20000|
| Sunny |  39|         2|150000|
|  Mary |  25|         6|180000|
| Mahesh|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [12]:
df_pyspark.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Temi| 21|        10| 30000|
|   Jeff| 45|         3| 25000|
|  Steve| 23|         4| 20000|
|Cameron| 32|        12| 20000|
| Sunny | 39|         2|150000|
|  Mary | 25|         6|180000|
+-------+---+----------+------+