## Pyspark Handling Missing Values
#### Dropping Columns 
#### Dropping Rows
#### Various Parameter In Dropping functionalities
#### Handling Missing values by Mean, median and Mode

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practice').getOrCreate()

In [8]:
df_pyspark =spark.read.csv('Data2.csv', header=True, inferSchema=True)

In [9]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   Temi|  21|        10| 30000|
|   Jeff|  45|         3| 25000|
|  Steve|  23|         4| 20000|
|Cameron|  32|        12| 20000|
| Sunny |  39|         2|150000|
|  Mary |  25|         6|180000|
| Mahesh|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [10]:
## How to drop Columns 
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  21|        10| 30000|
|  45|         3| 25000|
|  23|         4| 20000|
|  32|        12| 20000|
|  39|         2|150000|
|  25|         6|180000|
|null|      null| 40000|
|  34|        10| 38000|
|  36|      null|  null|
+----+----------+------+

In [11]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   Temi|  21|        10| 30000|
|   Jeff|  45|         3| 25000|
|  Steve|  23|         4| 20000|
|Cameron|  32|        12| 20000|
| Sunny |  39|         2|150000|
|  Mary |  25|         6|180000|
| Mahesh|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [12]:
df_pyspark.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Temi| 21|        10| 30000|
|   Jeff| 45|         3| 25000|
|  Steve| 23|         4| 20000|
|Cameron| 32|        12| 20000|
| Sunny | 39|         2|150000|
|  Mary | 25|         6|180000|
+-------+---+----------+------+

In [16]:
### any == how
df_pyspark.na.drop(how = 'any').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Temi| 21|        10| 30000|
|   Jeff| 45|         3| 25000|
|  Steve| 23|         4| 20000|
|Cameron| 32|        12| 20000|
| Sunny | 39|         2|150000|
|  Mary | 25|         6|180000|
+-------+---+----------+------+

In [15]:
### any == how
df_pyspark.na.drop(how = 'all').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Temi| 21|        10| 30000|
|   Jeff| 45|         3| 25000|
|  Steve| 23|         4| 20000|
|Cameron| 32|        12| 20000|
| Sunny | 39|         2|150000|
|  Mary | 25|         6|180000|
+-------+---+----------+------+

In [17]:
## treshold
df_pyspark.na.drop(how="any", thresh=2).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   Temi|  21|        10| 30000|
|   Jeff|  45|         3| 25000|
|  Steve|  23|         4| 20000|
|Cameron|  32|        12| 20000|
| Sunny |  39|         2|150000|
|  Mary |  25|         6|180000|
| Mahesh|null|      null| 40000|
|   null|  34|        10| 38000|
+-------+----+----------+------+

In [18]:
## Subset drops null value oonly in a certain column
df_pyspark.na.drop(how="any", subset=['Experience'] ).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Temi| 21|        10| 30000|
|   Jeff| 45|         3| 25000|
|  Steve| 23|         4| 20000|
|Cameron| 32|        12| 20000|
| Sunny | 39|         2|150000|
|  Mary | 25|         6|180000|
|   null| 34|        10| 38000|
+-------+---+----------+------+

In [27]:
## Filling the missing Value
df_pyspark.na.fill('Missing Values', ['Experience', 'age']).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   Temi|  21|        10| 30000|
|   Jeff|  45|         3| 25000|
|  Steve|  23|         4| 20000|
|Cameron|  32|        12| 20000|
| Sunny |  39|         2|150000|
|  Mary |  25|         6|180000|
| Mahesh|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [28]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   Temi|  21|        10| 30000|
|   Jeff|  45|         3| 25000|
|  Steve|  23|         4| 20000|
|Cameron|  32|        12| 20000|
| Sunny |  39|         2|150000|
|  Mary |  25|         6|180000|
| Mahesh|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [36]:
from pyspark.ml.feature import Imputer 
imputer = Imputer(inputCols=['Age', 'Experience', 'Salary'],
outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]).setStrategy('mean')

In [37]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|   Temi|  21|        10| 30000|         21|                10|         30000|
|   Jeff|  45|         3| 25000|         45|                 3|         25000|
|  Steve|  23|         4| 20000|         23|                 4|         20000|
|Cameron|  32|        12| 20000|         32|                12|         20000|
| Sunny |  39|         2|150000|         39|                 2|        150000|
|  Mary |  25|         6|180000|         25|                 6|        180000|
| Mahesh|null|      null| 40000|         31|                 6|         40000|
|   null|  34|        10| 38000|         34|                10|         38000|
|   null|  36|      null|  null|         36|                 6|         62875|
+-------+----+----------+------+-----------+------------------+--------------+