## Goals
#### PySpark Dataframe
#### Reading the Dataset
#### Checking the Datatypes of the columns(Schema)
#### Selecting Columns and Indexing
#### Check Describe options similar to Pandas
#### Adding Columns 
#### Dropping Columns

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

## read the Dataset

In [11]:
df_pyspark = spark.read.option('header', 'true').csv('Data1.csv', inferSchema=True)

#### inferSchema allow spark to take the datatype from excel and infer whether it's a string, int or float according to each columns.

In [12]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [14]:
df_pyspark=spark.read.csv('Data1.csv', header=True, inferSchema=True)
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|   Temi| 21|        10|
|   Jeff| 45|         3|
|  Steve| 23|         4|
|Cameron| 32|        12|
| Sunny | 39|         2|
|  Mary | 25|         6|
+-------+---+----------+

In [15]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [16]:
df_pyspark.head(3)

[Row(Name='Temi', Age=21, Experience=10),
 Row(Name='Jeff', Age=45, Experience=3),
 Row(Name='Steve', Age=23, Experience=4)]

In [17]:
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|   Temi| 21|        10|
|   Jeff| 45|         3|
|  Steve| 23|         4|
|Cameron| 32|        12|
| Sunny | 39|         2|
|  Mary | 25|         6|
+-------+---+----------+

#### How do select just specific columns in your dataframe
##### Use the select function

In [18]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [20]:
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
|   Temi|
|   Jeff|
|  Steve|
|Cameron|
| Sunny |
|  Mary |
+-------+

In [22]:
df_pyspark.select(['Name', 'Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|   Temi|        10|
|   Jeff|         3|
|  Steve|         4|
|Cameron|        12|
| Sunny |         2|
|  Mary |         6|
+-------+----------+

In [23]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [25]:
df_pyspark.describe().show()

+-------+-------+------------------+-----------------+
|summary|   Name|               Age|       Experience|
+-------+-------+------------------+-----------------+
|  count|      6|                 6|                6|
|   mean|   null|30.833333333333332|6.166666666666667|
| stddev|   null| 9.600347215943112|4.020779360604939|
|    min|Cameron|                21|                2|
|    max|   Temi|                45|               12|
+-------+-------+------------------+-----------------+

#### ADD and DROPPING Columns

In [31]:
df_pyspark=df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2)

In [32]:
df_pyspark.show()

+-------+---+----------+------------------------+
|   Name|Age|Experience|Experience After 2 years|
+-------+---+----------+------------------------+
|   Temi| 21|        10|                      12|
|   Jeff| 45|         3|                       5|
|  Steve| 23|         4|                       6|
|Cameron| 32|        12|                      14|
| Sunny | 39|         2|                       4|
|  Mary | 25|         6|                       8|
+-------+---+----------+------------------------+