## Example of Pyspark ML

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Missing").getOrCreate()

In [4]:
### Read the dataset
training = spark.read.csv('Data4.csv', header=True, inferSchema=True)

In [5]:
training.show()

+---------+---+-----------+------+
|    Name |Age|Experience |Salary|
+---------+---+-----------+------+
|    Krish| 31|         19| 30000|
|Sudhanshu| 30|          8| 25000|
|    Sunny| 29|          4| 20000|
|     Paul| 24|          3| 20000|
|   Harsha| 21|          1| 15000|
|  Shubham| 23|          2| 18000|
+---------+---+-----------+------+